<!DOCTYPE html>
<html lang="en">
  <!--------------------------------head-------------------------------->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght
  @0,100;0,400;0,900;1,100;1,400;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="../css/styles.css" rel="stylesheet" />
    <title>login</title>
  </head>
  <!--------------------------------body-------------------------------->
  <body>
    <!--------------------------------navbar-------------------------------->
    <nav class="nav_bar">
      <a href="login" class="main_logo">login</a>
      <ul>
        <li><a href="home">home</a></li>
        <li><a href="register">register</a></li>
      </ul>
    </nav>
    <!--------------------------------registration-------------------------------->
    <form action="/login" method="POST">
      <fieldset>
        <label>Username</label>
        <input type="username"id="username" name= "username"placeholder="ethan :)"required/>
        <br /><br />

        <label>Password</label>
        <input type="password" id="password" name="password" required />
        <br /><br />

        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
      </fieldset>
    </form>

  </body>
</html>
